<div id="map_area">
	<% if @location_tweets.count > 0 %>
		<div id="map_canvas">
		</div>
	<% end %>
</div>

<div id="result_list">
	<UL>
		<% @trucks.each do |truck| %>
			<% if (truck.tweets.count < 1) %>
			<%	next %>
 			<% end %>
			<li class="result">
				<div id="<%= truck.name %>_icons" class="result_icons"></div>
				<div class="result_content  <%= truck.name %>">
					<span class="truck_name">
						<%= truck.name %>
					</span>
					<ol>
						<% first_tweet = truck.tweets.order("created_at DESC").first %>
						<li>
							<%= first_tweet.text %><% if first_tweet.location %>~L~<% end %><br>
							<span class="tweet_time">-<%= first_tweet.get_time_since %></span>
						</li>
						<div id="<%= truck.name %>_tweets"><% truck.tweets.limit(5).offset(1).order("created_at DESC").each do |tweet| %>
							<li><%= tweet.text %><% if tweet.location %>~L~<% end %><br>
							<span class="tweet_time">-<%= tweet.get_time_since %></span></li>
						<% end %></div>
					</ol>
					<div class="result_footer">
						<ul class="footer_more_info">
							<li>More from this truck: </li>
							<li><a href="http://twitter.com/<%= truck.name %>"><%= image_tag("t_mini-a.png", :alt => "Truck Trakkor") %></a></li>
							<% if truck.website %>
								<li>| <a href="<%= truck.website %>">website</a></li>
							<% end %>
						</ul>
						<ul>
							<li>Categories: </li>
							<% truck.categories.each do |category| %>
								<li><%= category.name %></li>
							<% end %>
						</ul><br>
						<a href="#show_more"><%= image_tag("more.png", :alt => "Truck Trakkor", :id => (truck.name + "_more"), :class => "result_more") %></a>
						<script type="text/javascript">
							$('<%= truck.name %>_tweets').hide();
							$('<%= truck.name %>_more').observe('click', function(event) {
								
									event.stop();
									Effect.toggle('<%= truck.name %>_tweets', 'slide');
								});
						</script>
					</div>
				</div>
			</li>
		<% end %>
		<p><%= will_paginate @trucks %></p>	
	</UL>
	
</div>

<% if @location_tweets.count > 0 %>
		<% location_icons = ['../images/a_icon.gif','../images/b_icon.gif', '../images/c_icon.gif', '../images/d_icon.gif', '../images/e_icon.gif']
    	   iconIndex = 0 %>
		<script type="text/javascript">
			var map = loadMap(<%= @center_location.lat %>, <%= @center_location.lng %>, <%= @zoom %>);
			<% @location_tweets.each do |tweet| %>
				<% if iconIndex < 5 %>
				<%  our_icon = location_icons[iconIndex] %>
				<%  iconIndex += 1 %>
				<% else %>
				<%	our_icon = '../images/truck_icon.gif' %>
				<% end %>
				$("<%= tweet.truck.name %>_icons").insert("<img src='<%= our_icon %>' alt='Truck icon'></img>");
				addLocation("<%= escape_javascript(tweet.truck.name) %>","<%= escape_javascript(tweet.text) %>", <%= tweet.location.lat %>, <%= tweet.location.lng %>, "<%= our_icon %>", map);
			<% end %>
		</script>
<% end %>

