<div class="text_block center_column">
	<p class="title">New Truck:</p>
	<%= form_for(:truck, @truck, :url => admin_truck_index_path) do |f| %>
		 <%= label_tag("Name:") %>
		 <%= f.text_field :name %><br>
		 <%= label_tag("Website:") %>
		 <%= f.text_field :website %><br>
		 <%= label_tag("City:") %>
		 <%= f.text_field :city %><br>
		 <%= label_tag("Twitter Id:") %>
		 <%= f.text_field :twitter_id %><br>
		 <p class="center_align"><%= submit_tag "Create" %></p>
	<% end %>
</div>