<div class="text_block center_column">
	<p class="title">Edit <%= @location.name %>:</p>
	<%= form_for([:admin, @location]) do |f| %>
		 <%= label_tag("Name:") %>
		 <%= f.text_field :name %><br>
		 <%= label_tag("City:") %>
		 <%= f.text_field :city %><br>
		 <%= label_tag("Keyword:") %>
		 <%= f.text_field :keyword %><br>
		 <%= label_tag("Regexp match (optional):") %>
		 <%= f.text_field :reg_match %><br>
		 <%= label_tag("Lat:") %> 
		 <%= f.text_field :lat %> 
		 <%= label_tag("Lng:") %> 
		 <%= f.text_field :lng %><br>
		 <p class="center_align"><%= submit_tag "Update" %></p>
	<% end %>
</div>